<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">
      <i class="la la-opencart text-info la-3x"></i>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="shopping-cart">
            <i class="la la-cart-arrow-down  text-info la-2x"></i>
            <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">{{cart.totalItemsCount}}</span>
          </a>
        </li>
      </ul>

      <div *ngIf="user; else anonymous" ngbDropdown class="d-inline-block">
        <button class="btn btn-info btn-block border-0 rounded-0" id="dropdownBasic1"
          ngbDropdownToggle>{{ user.name }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem routerLink="/my/orders">My Orders</button>
          <ng-container *ngIf="user.isAdmin">
            <button ngbDropdownItem routerLink="/admin/orders">Manage Orders</button>
            <button ngbDropdownItem routerLink="/admin/products">Manage Products</button>
          </ng-container>
          <button ngbDropdownItem (click)="logout()">Log Out</button>
        </div>
      </div>
      <ng-template #anonymous>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </ng-template>

    </div>
  </nav>
</header>
