<div class="container min-vh-100 p-3" (scroll)="onWindowScroll($event);">
  <div class="animated fadeInDown" id="navbar">
    <app-navbar></app-navbar>

  </div>
  <main class="mt-5">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer mt-5">
    <div>
      <p class="mb-0 text-white d-flex align-items-center justify-content-center  flex-wrap">
        <span>© COPYRIGHT 2019 • by</span>

        <a class="btn btn-link text-white py-0" href="https://swethusiast.tk/" target="_blank">
          swethusiast</a>
        <span>All Rights Reserved.</span>


      </p>
    </div>
  </footer>
</div>
